### Compiled class Files
*.class
target/

### IDEA Files
.idea/
*.iml
*.ipr
*.iws
out/
gen/

### Log Files
logs/
*.log
LOG_PATH_IS_UNDEFINEDLOG_FILE_IS_UNDEFINED

### BlueJ Files
*.ctxt

### Mobile Tools for Java (J2ME)
.mtj.tmp/

### Package Files
*.jar
*.war
*.ear

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*velocity.log*

### Eclipse Files
.project
.classpath
.settings
.metadata
*.tmp
*.bak
.loadpath
.recommenders
tmp/

### VS Files
bin/
obj/

